:root {
    --primary-color: #0a1128  
}
:root {
    --white-color: #ffffff
}
:root {
    --gap: 30px
}
:root {
    --light-gray-color: #eee
}
:root {
    --secondary-color: crimson; 
}

